:root{/* CSS HEX */
     --canary-yellow: #f2f230ff;
     --deep-mocha: #483d3fff;
     --blue-bell: #058ed9ff;
     --dust-grey: #eadedaff;
     --neon-ice: #30f2f2ff;}
body{
    background-color: var(--blue-bell);
}

*{
    font-family: "Momo Signature", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.logo h1{
    font-size: 20px;
}

.navbar {
    background-color: var(--canary-yellow);
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navlinks {
    display: flex;
    gap: 15px;
    list-style: none;
}

.navlinks a {
    text-decoration: none;
    color: var(--deep-mocha);
}
.mystro img{
    width: 200px;
    border-radius: 100px;
    outline: 5px solid red;
    outline-offset: 2px;
}
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 35px;
}
.contant a{
     text-decoration:none ;
     color: black;
     background-color: var(--canary-yellow);
     padding: 5px;
     border-radius: 10px;
}
.جاد{
    padding: 20px;
}